
#definition{
    font-family: "Open Sans";
    font-size: 16px;
}

form{
    margin-top: 50px;
}

/*table, th, td {*/
    /*border: 1px solid black;*/
    /*border-collapse: collapse;*/
    /*padding: 15px;*/
    /*border-spacing: 5px;*/
    /*text-align: center;*/
/*}*/

/*caption{*/
    /*margin-bottom: 15px;*/
/*}*/